
    <ion-header-bar class="bar-dark">
        <button class='button icon ion-arrow-left-a' ng-click='goToGallery()'></button>
        <h1 class="title">Enquiry Cart</h1>
    </ion-header-bar>

    <ion-content>
        <ion-cart products='cartProducts'></ion-cart>
    </ion-content>

    <ion-footer-bar style="height: 60px"  >

        <a  class="button" style="border-color: grey;background-color: grey;width: 100% ;text: #ffffff" href= "#/app/enquiry" >
            <h4 style="color: #ffffff ;text-shadow: 2px 2px 8px #5d5d5d">Enquire Now</h4>
        </a>
    </ion-footer-bar>

    <!--<ion-cart-footer path='checkoutPath'></ion-cart-footer>-->


    <!--<ion-header-bar class="bar-dark">-->
        <!--<button class='button icon ion-arrow-left-a' ng-click='goToGallery()'></button>-->
        <!--<h1 class="title">Ionic Shopping Cart</h1>-->
    <!--</ion-header-bar>-->

    <!--<ion-content>-->
        <!--<ion-cart products='cartProducts'></ion-cart>-->
    <!--</ion-content>-->

    <!--<ion-cart-footer path='checkoutPath'></ion-cart-footer>-->