<!--<ion-nav-bar align-title="center" class="bar-positive">-->
    <!--<h1 class="title">Center</h1>-->
    <!--</ion-nav-bar>-->

<ion-view view-title="Digilink Product" >
    <!--<ion-nav-bar align-title="center"  class="title">  </ion-nav-bar>-->

    <!--<ion-nav-title>-->
       <!--<h3>Digilink Products</h3>-->
    <!--</ion-nav-title>-->
<!--<ion-view class="bar-dark">-->
    <!--<h1 class="title">Digilink Product</h1>-->
    <!--<button class='button icon ion-bag' ng-click='goToCart()'></button>-->
<!--</ion-view >-->


<ion-content  style="background-color:#f1f1f1" >


    <div class="row" >
        <div class="col col-50" >
            <a href="#/app/productsList">
            <img style="border:1px ; border-color: #ffffff" ng-src="img/copper cable.jpg"  width="100%"  />


            </a>
        </div>
        <div class="col col-50" >
            <a href="#/app/productsList">
            <img style="border-color: #ffffff" ng-src="img/Fiber- Cable.jpg" width="100%" />


            </a>
        </div>
        </div>
    <div class="row" >
        <div class="col col-50" >
            <a href="#/app/productsList">
            <img style=" border-color: #ffffff" ng-src="img/Copper- Modular Jack.jpg" width="100%" />

      </a>
        </div>
        <div class="col col-50" >
            <a href="#/app/productsList">
            <img style=" border-color: #ffffff" ng-src="img/Fiber- Connector.jpg" width="100%" />


            </a>
        </div>
    </div>
    <div class="row" >
        <div class="col col-50" >
            <a href="#/app/productsList">
            <img style=" border-color: #ffffff" ng-src="img/Copper- Patch Cord.jpg" width="100%" />


            </a>
        </div>
        <div class="col col-50" >
            <a href="#/app/productsList">
            <img style="border-color: #ffffff" ng-src="img/Fiber- Patch Cord.jpg" width="100%" />


            </a>
        </div>
    </div>
    </div>

    <div class="row" >
        <div class="col col-50" >
            <a href="#/app/productsList">
     <img style="border-color: #ffffff" ng-src="img/Copper- Patch Panel.jpg" width="100%" />


            </a>
        </div>
        <div class="col col-50" >
            <a href="#/app/productsList">
                <img style="border-color: #ffffff" ng-src="img/Fiber- Patch Panel.jpg" width="100%" />


            </a>
        </div>

    </div>
    <div class="row" >
        <div class="col col-50" >
            <a href="#/app/productsList">
                <img style="border-color: #ffffff" ng-src="img/Copper- Tools.jpg" width="100%" />


            </a>
        </div>
        <div class="col col-50" >
            <a href="#/app/productsList">
                <img style="border-color: #ffffff" ng-src="img/Fiber- PIGTAIL.jpg" width="100%" />


            </a>
        </div>

    </div>

    <!--<div class="row" >-->
        <!--<div class="col col-50" >-->
            <!--<a href="#/app/productsList">-->
                <!--<img style="border-color: #ffffff" ng-src="img/Copper- Patch Panel.jpg" width="100%" />-->
            <!--</a>-->
        <!--</div>-->

    <!--</div>-->

    <!--<ion-gallery products='products'></ion-gallery>-->
    <!--<ion-gallery products='products'></ion-gallery>-->
    <!--<ion-cart products='cartProducts'></ion-cart>-->
    <!--<ion-cart products='products'></ion-cart>-->

</ion-content>
</ion-view>