<ion-view  view-title="Digilink Products">
  <ion-content>
    <!--<ion-list>-->
      <!--&lt;!&ndash;<ion-prod ng-repeat="prod in Products" href="#/app/playlists/{{playlist.id}}">&ndash;&gt;-->
          <!--&lt;!&ndash;<div style="margin-left: 60px">&ndash;&gt;-->
              <!--&lt;!&ndash;<div>&ndash;&gt;-->

          <!--&lt;!&ndash;<img src="{{prod.ImagePath}}" />&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div>&ndash;&gt;-->
          <!--&lt;!&ndash;<h5><b style="font-family:'Trebuchet MS', Sans-Serif">Category: </b>{{prod.Category}}</h5>&ndash;&gt;-->
          <!--&lt;!&ndash;<h5><b style="font-family:'Trebuchet MS', Sans-Serif">Description : </b>{{prod.Description}}</h5>&ndash;&gt;-->
          <!--&lt;!&ndash;<h5><b style="font-family:'Trebuchet MS', Sans-Serif"> prod : </b> {{prod.prod}}</h5>&ndash;&gt;-->
                <!--&lt;!&ndash;<h5><b style="font-family:'Trebuchet MS', Sans-Serif"> </b> {{prod.prod}}</h5>&ndash;&gt;-->
          <!--&lt;!&ndash;<h5><b style="font-family:'Trebuchet MS', Sans-Serif">prod Code :</b>{{prod.ProductCode}} </h5>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-prod>&ndash;&gt;-->
        <div class="list" collection-repeat="prod in ProductList | filter:filter">
            <table   style="width: 100% ; border-bottom: 1px solid #666666;">
                <tr  style="display: inline-block ; border-bottom: 1px solid #666666;width: 100% " >
                    <td style="width: 50% ; padding-bottom: 15px ; padding-top : 10px !important;">
                        <a  style="border-bottom: 1px solid #666666;!important;" ng-href="#/app/gallery">
                            <img style='width: 110px; height: 130px' ng-src="{{prod.ImagePath}}">
                        </a>
                        <!--<h5><b style="font-family:'Trebuchet MS', Sans-Serif"></b>{{prod.Product}}</h5>-->
                    </td>

                    <td style="width: 50% ; padding-bottom: 10px ;  !important;">
                        <a style="text-decoration: none !important;" ng-href="#/app/gallery" >
                            <h5><b style="font-family:'Trebuchet MS', Sans-Serif">Name: </b>{{prod.Description}}</h5>
                            <h5><b style="font-family:'Trebuchet MS', Sans-Serif">Code: </b>{{prod.ProductCode}}</h5>
                            <h5><b style="font-family:'Trebuchet MS', Sans-Serif">Category: </b>{{prod.Category}}</h5>
                            <!--<h5><b style="font-family:'Trebuchet MS', Sans-Serif">Sub Category  : </b>{{prod.Product}}</h5>-->

                        </a>
                    </td>
                </tr>
            </table>
        </div>
    <!--</ion-list>-->

      <!--<div class='ion-gallery-content'>-->
          <!--<div class='card gallery-card' ng-repeat='prod in ProductList track by $index' ui-sref="app.gallery">-->
              <!--<div class='item gallery-item'>-->
                  <!--<div class='gallery-image-div'>-->
                      <!--<img ng-src='{{prod.ImagePath}}' class='gallery-product-image'>-->
                  <!--</div>-->
                  <!--<h3 class='gallery-product-title'>{{prod.ProductCode}}</h3>-->
                  <!--<h3 >{{prod.Category}}</h3>-->
                  <!--<!--<div class='gallery-product-add' ng-click='addToCart(prod)'>-->
                      <!--<!--<h3 class='gallery-product-add-title' cart-add>{{addText}}</h3>-->
                  <!--<!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->
  </ion-content>
</ion-view>
